@import '../../scss-imports/variables';

.inputField {
   background-color: $lighterGray;
   border-radius: 10px;
   box-shadow: 0px 0px 10px 5px $inputShadow; 
   padding: 10px;
   display: flex;
   max-height: 51px;
}

.sunAndCloud {
   height: 40px;
   margin-right: 20px;
}

.flagInput {
   height: 100% ;

   font-weight: bold;
   color: $darkGray;

   > button {
      font-weight: bold;
      border-color: $midGray;
      border-radius: 5px;
      background-color: $white;
      padding: 8px 10px 8px 5px;
   }

   ul > div > input {
      border-radius: 5px;
      border-color: $lightGray;
      padding: 4px;
   }
}

.cityInputWrapper {
   display: flex;
   position: relative;

   background-color: $white;

   outline: none;
   margin-left: 10px;
   

   .cityInputField {      
      border-color: $midGray;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      padding-right: 33px;
      padding-left: 10px;
      width: 100%;
   }

   .citySearchButton {
      background: none;
      border-style: none;
      position: absolute;
      right: 0;
      bottom: 7px;

      &:hover {
         cursor: pointer;
      }
   }

}
