$inputBackground: #EBDAF4;
$inputShadow: rgba(133, 122, 139, 0.6);

$white: #fff;
$black: #000;
$darkGray: #4d4d4d;
$midGray: #a0a0a0;
$lightGray: #eaeaea;
$lighterGray: #fbfbfb;

$navyBlue: #18183f;
$lightBlue: #D6E1F7;